# Copy this file to backend.hcl after applying terraform/bootstrap.
# backend.hcl is ignored by Git because it is account-specific.
bucket       = "gerrard-lewu-322513863494-tf-state"
key          = "aws-01-secure-infrastructure/dev/terraform.tfstate"
region       = "af-south-1"
encrypt      = true
use_lockfile = true
